<mat-toolbar>
  <span
    style='flex: 1 1 auto; text-align: center;'
  >
    <button 
      mat-mini-fab 
      color='basic'
      (click)='previousSemester()'
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    &nbsp;
    {{ displaySemester }} {{ displayYear }}
    &nbsp;
    <button 
      mat-mini-fab 
      color='basic'
      (click)='nextSemester()'
    >
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </span>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="By Course"> 
    Courses
  </mat-tab>
  <mat-tab label="By Faculty">
     Faculty 
  </mat-tab>
</mat-tab-group>