<mat-toolbar color='primary'>
  <mat-toolbar-row>
    <small style='flex: 1 1 auto; text-align: center;'>
      Madison College IT Classes
    </small>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-mini-fab color='primary' (click)='previousSemester()'>
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <span style='flex: 1 1 auto;'></span>
    {{ displaySemester }} {{ displayYear }}
    <span style='flex: 1 1 auto;'></span>
    <button mat-mini-fab color='primary' (click)='nextSemester()'>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div style="padding: 15px;">
  <mat-card *ngIf='currentSemesterByClass.length == 0 && currentSemesterByFaculty.length == 0 && !coursesSvc.loading'>
    <h3>
      Sorry, no data found for this semester...
    </h3>
  </mat-card>

  <mat-card *ngIf='coursesSvc.loading'>
    <mat-spinner diameter='30' strokeWidth='5' style='margin: 0 auto;'>
    </mat-spinner>
  </mat-card>

  <mat-tab-group *ngIf='currentSemesterByClass.length > 0 && currentSemesterByFaculty.length > 0 && !coursesSvc.loading' style="margin: -15px;">
    <mat-tab 
      label="By Class"
    >
      <div 
        fxLayout.lt-md="column" 
        fxLayoutAlign.lt-md="space-between"
        fxLayout="row layout-wrap"
        fxLayoutAlign="space-evenly"
        fxLayoutGap="15px"
      >
        <mat-card
          fxFlexFill.lt-md
          *ngFor='let c of currentSemesterByClass'
        >
          <mat-card-header>
            <mat-icon matCardAvatar color='primary'>crop_16_9</mat-icon>
            <mat-card-title>
              {{ c.class }}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p
              *ngFor='let f of c.faculty'
            >
              {{ f }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="By Faculty">
      <mat-card
        style="margin-top: 15px; margin-left: 15px; margin-right: 15px;"
        *ngFor='let f of currentSemesterByFaculty'
      >
        <mat-card-header>
          <mat-icon matCardAvatar color='primary'>perm_identity</mat-icon>
          <mat-card-title>
            {{ f.faculty }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p
            *ngFor='let c of f.classes'
          >
            {{ c.class }} 
            <span
              *ngIf='c.numberOfSections > 1'
            >&nbsp;({{ c.numberOfSections }} sections)</span>
          </p>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>