<mat-toolbar color='primary'>
  <mat-toolbar-row 
    fxHide
    fxShow.lt-md

  >
  <!-- Button, not visible, but for proper centering : - ( -->
  <button 
    mat-icon-button
    disabled 
    style='opacity: 0.5;'
    >
      <mat-icon
        style='font-size: 1.25em; margin-bottom: 3px;'
      >
      </mat-icon>
  </button>
  <span style='flex: 1 1 auto;'></span>
  <small>
      Madison College IT Classes
  </small>
  <span style='flex: 1 1 auto;'></span>
  <button 
    mat-icon-button 
    (click)='refresh()'
    style='opacity: 0.5;'
  >
    <mat-icon
      style='font-size: 1.25em; margin-bottom: 3px;'
    >
      refresh
    </mat-icon>
  </button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button 
      mat-mini-fab 
      color='primary' 
      (click)='previousSemester()'
      fxHide
      fxShow.lt-md
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button 
      mat-icon-button 
      disabled
      style='opacity: 0.5;'
      fxShow
      fxHide.lt-md
    >
      <mat-icon>
      </mat-icon>
    </button>
    <span style='flex: 1 1 auto;'></span>
    <span
      fxShow
      fxHide.lt-md
      style="opacity: 50%"
    >
      Madison College IT Classes
      &nbsp;
    </span>
    {{ displaySemester }} {{ displayYear }}
    <span
      fxShow
      fxHide.lt-md
    >
      &nbsp;
      &nbsp;
      <button 
        mat-mini-fab 
        color='primary' 
        (click)='previousSemester()'
      >
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      &nbsp;
      <button 
        mat-mini-fab 
        color='primary' 
        (click)='nextSemester()'
      >
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </span>
    <span style='flex: 1 1 auto;'></span>
    <button 
      mat-icon-button 
      (click)='refresh()'
      style='opacity: 0.5;'
      fxShow
      fxHide.lt-md
    >
      <mat-icon>refresh</mat-icon>
    </button>
    <button 
      mat-mini-fab 
      color='primary' 
      (click)='nextSemester()'
      fxHide
      fxShow.lt-md
    >
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div style="padding: 15px;">
  <mat-card *ngIf='currentSemesterByClass.length == 0 && currentSemesterByFaculty.length == 0 && !coursesSvc.loading'>
    <h3>
      Sorry, no data found for this semester...
    </h3>
  </mat-card>

  <mat-card *ngIf='coursesSvc.loading'>
    <mat-spinner diameter='30' strokeWidth='5' style='margin: 0 auto;'>
    </mat-spinner>
  </mat-card>

  <mat-tab-group *ngIf='currentSemesterByClass.length > 0 && currentSemesterByFaculty.length > 0 && !coursesSvc.loading' style="margin: -15px;">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon color='primary'>crop_16_9</mat-icon>
        &nbsp;
        Classes ({{ currentSemesterByClass.length }})
      </ng-template>
      <div 
        gdColumns.lt-md="100%"
        gdColumns="50% 50%"
        gdGap="10px"
      >
        <mat-card
          *ngFor='let c of currentSemesterByClass'
        >
          <mat-card-header>
            <mat-icon matCardAvatar color='primary'>crop_16_9</mat-icon>
            <mat-card-title>
              {{ c.class }}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-selection-list>
              <mat-list-option
                *ngFor='let f of c.faculty'
              >
                {{ f }}
              </mat-list-option>         
            </mat-selection-list>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon color='primary'>perm_identity</mat-icon>
        &nbsp;
        Faculty ({{ currentSemesterByFaculty.length }})
      </ng-template>
      <div 
        gdColumns.lt-md="100%"
        gdColumns="50% 50%"
        gdGap="10px"
      >
        <mat-card
          *ngFor='let f of currentSemesterByFaculty'
        >
        
          <mat-card-header>
            <mat-icon matCardAvatar color='primary'>perm_identity</mat-icon>
            <mat-card-title>
              {{ f.faculty }}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-selection-list>
              <mat-list-option
                *ngFor='let c of f.classes'
              >
                <span>
                  {{ c.class }} 
                  <span
                    *ngIf='c.numberOfSections > 1'
                  >
                    ({{ c.numberOfSections }} sections)
                  </span>
                </span>
                </mat-list-option>         
            </mat-selection-list>
          </mat-card-content>
        </mat-card>
      </div>  
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon color='primary'>done</mat-icon>
        &nbsp;
        Me
      </ng-template>
      <amplify-authenticator>
        <div>
          My App
          <amplify-sign-out></amplify-sign-out>
        </div>
      </amplify-authenticator>
    </mat-tab>
  </mat-tab-group>
</div>